<div class="row mtbox centered">
  <div class="col-md-2 col-sm-2 col-md-offset-1 box0">
    <div class="box1">
      <span class="fa fa-2x <%= socket.icon%>"></span>
      <h3>
        <a href='javascript:;' class='socket_controll' data-id='<%= socket.id %>' data-target="#socket_content_<%=socket.id%>" data-value="#socket_value_<%= socket.id%>" >
          <%= socket.description %>
        </a>
      </h3>
      <input type='hidden' value='<%= socket.status %>' id='socket_value_<%= socket.id %>' >
      <%= on_off_socket socket.status, socket.id %>
    </div>
  </div>
</div>
